* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

html{
    overflow-x: hidden;
    overflow-y: auto;
}

body::-webkit-scrollbar{
    width: 0;
    background: transparent;
}


#carousel-imagens{
    width: 100%;
    max-width: 0 auto;
    margin: 0 auto;
    height: 380px;
    overflow: hidden;

}

#carousel-imagens img{
    width: 100%;
    height: 380px;
    object-fit: cover;
    display: block;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #192a56;
    padding-top: 16px;
    color: #fff;
}

header >.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

header{
    position: sticky;
    top: 0;
    left: 0;
}

nav {
    background-color: #575fcf;
    padding: 16px 0;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.menu{
    width: 32px;
    cursor: pointer;
}

.menu span{
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
   
}

.container-flex{
    display: flex;
    gap: 24px;
     
}

#sobrealoja img{
    max-width: 400px;
    margin-right: 2px;
}

#sobrealoja .texto-loja{

}

section{
    padding: 48px 0;
}

section h2{
    margin-bottom: 16px;
}
.lista-veiculos li img{
    width: 100%;
    height: 200px;
    display: block;
}
.lista-veiculos ul{
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
}


.lista-veiculos ul li{
    list-style: none;
    width: 300px;
    
}


.lista-veiculos li h3{
    margin: 16px 0;
}

button{
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: green;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}


.price {
    margin: 16px 0;
    display: block;
}

section{
    margin-left: 200px;
}

del{
    color: rgb(97, 97, 97);
}

.form-campo{
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input, .form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;

}

.form-campo textarea {
    resize: none;
    height: 120px;
}

form{
    max-width: 360px;
}

form button{
    max-width: 150px;
}

footer{
    padding: 30px;
    color: #fff;
    background-color: #192a56;
    
}

footer .container-flex img {
    
    height: 50px;
    width: 50px;
}

